.carousel .slide img {
  width: auto !important;
  max-width: 100% !important;
}

.brand-listing-logo {
  width: 100%;
}

.brand-listing-logo span span {
  display: none !important;
}

.brand-listing-logo span span + img {
  width: 100% !important;
  height: auto !important;
  position: relative !important;
  min-width: auto !important;
  min-height: auto !important;
}
.slider-container {
  width: 100%;
  height: 100%;
  position:fixed; /* add this code for position fixed */
  top:0px; /* set top and left 0 */
  left:0px;
}
.slider-item-div {
  padding: 20px;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}
.carousel-style {
  height: 100% !important;
}
/* @import url('https://www.ystore.us/HTML/RedefineCommerce/Ecom-front/corporategear/main.css'); */
